<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<bean name="c1" class="course.CourseList">
<property name="id" value="1"/>
<property name="name" value="java"/>
<property name="mentor" value="sathish"/>
<property name="fee" value="1000"/>
</bean>
<bean name="c2" class="course.CourseList">
<property name="id" value="2"/>
<property name="name" value=".net"/>
<property name="mentor" value="kanimozhi"/>
<property name="fee" value="2000"/>
</bean>
<bean name="c3" class="course.CourseList">
<property name="id" value="3"/>
<property name="name" value="pega"/>
<property name="mentor" value="arun"/>
<property name="fee" value="500"/>
</bean>
<bean name="course" class="course.Course">
<property name="course">
<list>
<ref bean="c1"></ref>
<ref bean="c2"></ref>
<ref bean="c3"></ref>
</list>
</property>
</bean>
<bean name="learn" class="course.Elearn">
<property name="c" ref="course"></property>
</bean>
</beans>
